

body{
    background-image: url("../images/starback.png");
}

image1{
    cursor: pointer;
}

h1{
    color: yellow;
}

img{
    opacity: 1;
}

.row {
    background-color: rgba(0, 123, 255, 0.5); 
    transition: background-color .5s;
}

.row:hover {
    background-color: rgba(102, 175, 255 , 0.5);
    opacity: 0.5;
}